/* Header.css */

header {
  background-color: white !important;
  color: darkgray !important;
  padding: 0px !important;
  text-align: center;
}

.sticky-header {
  /* position: absolute; */
  width: 100%;
}

.mobile-contact-us-header {
  height: 30px;
  background-color: #00a3d4;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.small-font {
  font-size: 1rem !important;
}

/* .MuiTypography-root {
  font-size: 14px !important;
} */

.end-text {
  text-align: end;
  margin-right: 5px !important;
}

.aTagColor {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 15px;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .small-font {
    font-size: 0.5rem !important;
  }
}
